.rust {
    max-width: 500px;
}
.posts {
    color: #61dafb;
}
.item {
    color: #b53c00;
}

.postsAva {
    max-width: 50px;
    object-fit: cover;
}

textarea {
    resize: none;
    background-color: #cbcbcb;
}