.avatar {
    padding: 10px;
}

.avatar img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.icon {
    margin: 0 10px;
    color: yellow;
}

.likePost {
    display: flex;
}
.like {
    padding-left: 10px;
    color: #c10001;
}
