.nav {
    grid-area: n;
    background-color: #013e41;
    padding: 10px;
}
.item a {
    color: #e38e00;
    text-decoration: none;
}
.item a:hover {
    color: white;
}
.item a:active {
    color: #f90000 !important;
}
