.App-wrapper {
  display: grid;
  margin: auto;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 5fr;
  grid-gap: 5px;
}
.App-link {
  color: #61dafb;
}





