.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems {
    padding: 10px;
}
.dialogsItems .active {
    color: red;
}
.dialog {
    cursor: pointer;
}
.dialogs a {
    color: #c8be8b;
    text-decoration: none;
}
.dialogs a:active {
    color: red;
}
.messages {
    padding: 10px;
}
.message {
    color: #2cd0ff;
}
