.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems {
    padding: 10px;
}
.dialogsItems .active {
    color: red;
}
.dialog {
    cursor: pointer;
}
.messages {
    padding: 10px;
}
.message {
    color: #2cd0fb;
}